dist/

# NPM
node_modules/

# Blender and Substance autosaves/backups/etc
*.blend1
*_RetopoFlow_AutoSave.blend
*_autosave_*.spp
*.painter_lock

src/**/*.fbx
src/**/export
src/parts/podracer/src/ab_form_factor.spp
src/**/*_TMP_EXPORT.blend
