[submodule "mods/Moderately-Plane-Related"]
	path = mods/Moderately-Plane-Related
	url = git@github.com:Drag0nD3str0yer/Moderately-Plane-Related.git
[submodule "mods/Mk3Expansion"]
	path = mods/Mk3Expansion
	url = git@github.com:SuicidalInsanity/Mk3Expansion.git
[submodule "mods/Mk2Expansion"]
	path = mods/Mk2Expansion
	url = git@github.com:SuicidalInsanity/Mk2Expansion.git
[submodule "mods/BDArmory-Extended"]
	path = mods/BDArmory-Extended
	url = git@github.com:BrettRyland/BDArmory-Extended.git
[submodule "mods/CommunityResourcePack"]
	path = mods/CommunityResourcePack
	url = git@github.com:UmbraSpaceIndustries/CommunityResourcePack.git
[submodule "mods/SimpleRepaint"]
	path = mods/SimpleRepaint
	url = git@github.com:judicator/SimpleRepaint.git
[submodule "mods/AirplanePlus"]
	path = mods/AirplanePlus
	url = git@github.com:runway-project/AirplanePlus.git
[submodule "mods/B9-PWings-Modified"]
	path = mods/B9-PWings-Modified
	url = git@github.com:SuicidalInsanity/B9-PWings-Modified.git
