Localization
{
	en-us
	{
		#loc_RWP_PR_modname = RWP Podracer Parts
		#loc_RWP_PR_manufacturer = Watto's Junkyard
		
 // === Nacelles ===
		#loc_RWP_PR_S0_nacelle_title = S0 Nacelle
		#loc_RWP_PR_S0_nacelle_desc = A tiny engine nacelle with an equally-tiny quantity of fuel.

		#loc_RWP_PR_S1_nacelle_title = S1 Nacelle
		#loc_RWP_PR_S1_nacelle_desc = A standard 1.25m nacelle, compatible with most engines.
		
		#loc_RWP_PR_S1_nacelle_L_title = S1 Nacelle Long
		#loc_RWP_PR_S1_nacelle_L_desc = A double-length 1.25m nacelle, for racers interested in packing a bit more fuel.

		#loc_RWP_PR_S1_nacelle_3_title = S1 Nacelle Medium
		#loc_RWP_PR_S1_nacelle_3_desc = A 1.25m nacelle lovingly hammered together out of scrap found lying by the side of the road.

		#loc_RWP_PR_S1_nacelle_4_title = S1 Nacelle Short
		#loc_RWP_PR_S1_nacelle_4_desc = A half-length 1.25m nacelle, for racers who need slightly longer engines

		#loc_RWP_PR_S2_nacelle_L_title = S2 Nacelle Long
		#loc_RWP_PR_S2_nacelle_L_desc = A large 2.5m nacelle, for jumbo-sized podracers.

		#loc_RWP_PR_S2_nacelle_title = S2 Nacelle
		#loc_RWP_PR_S2_nacelle_desc = A large 2.5m nacelle, equipped with an assortment of unnecessary pipes and greebles.

		#loc_RWP_PR_S2_nacelle_W_title = S1.5 Nacelle Wide
		#loc_RWP_PR_S2_nacelle_W_desc = A slimmer variant of the S2 Nacelle that had the unfortunate fate of being caught in a hydraulic press. 

		#loc_RWP_PR_AB_Hull_title = AB Hull Section
		#loc_RWP_PR_AB_Hull_desc = A fuel tank with a unique form-factor. Can be radially-mounted for more unconventional designs.

		#loc_RWP_PR_AB_Mount_title = AB Engine Mount
		#loc_RWP_PR_AB_Mount_desc = An engine bicoupler, compatible with the AB fuselage line. Contains a modest amount of fuel. Can be radially-mounted for more unconventional designs.

		#loc_RWP_PR_AB_Intake_title = AB Intake
		#loc_RWP_PR_AB_Intake_desc = A heavy-duty intake, compatible with the AB fuselage line. This part is able to provide sufficient intake air for the heaviest podracer engines.

// === INTAKES ===
		#loc_RWP_PR_S0_Intake_title = Circular Intake S0
		#loc_RWP_PR_S0_Intake_desc = A tiny intake, usable for light podracer designs. Compatible with 0.625m parts.

		#loc_RWP_PR_S1_Intake_title = Circular Intake S1
		#loc_RWP_PR_S1_Intake_desc = A reasonably-sized intake, usable for most 1.25m engines.

		#loc_RWP_PR_S2_FanIntake_title = Circular Intake S2
		#loc_RWP_PR_S2_FanIntake_desc = A wide, 2.5m radius intake with a large compressor fan. Warning: Do not stick hands inside intake during operation.
		#loc_RWP_PR_S2_ScoopIntake_title = EM-25 2.5m Scoop Intake
		#loc_RWP_PR_S2_ScoopIntake_desc = A large 2.5 meter air scoop capable of being mounted on 1.25 or 2.5m fuselages. Warranty void if used to scoop anything other than air. Optimized for subsonic flight.

		#loc_RWP_PR_S2_ShockIntake_title = CH-25 Shock Cone
		#loc_RWP_PR_S2_ShockIntake_desc = A large 2.5m intake for high performance engines.

		#loc_RWP_PR_RadialIntake_1_title = G4Z Radial Intake
		#loc_RWP_PR_RadialIntake_1_desc =  A wide surface-mounted intake, with a curved cross-section.

		#loc_RWP_PR_RadialIntake_2_title = SF-4 Radial Intake
		#loc_RWP_PR_RadialIntake_2_desc =  A stylish radially mounted intake manifold.

		#loc_RWP_PR_S2_AdapterIntake_title = BR 1-2 Adapter Intake
		#loc_RWP_PR_S2_AdapterIntake_desc =  A hemispherical inline intake with a flat forward section, suitable for mounting 1.25m parts.

// === Adapters ===
		#loc_RWP_PR_S2_Adapter_1_title = S1-S1.5 Adapter
		#loc_RWP_PR_S2_Adapter_1_desc = A compact structural adapter between 1.25m and 1.875m parts.

		#loc_RWP_PR_S2_Adapter_2_title = S1-S2 Adapter
		#loc_RWP_PR_S2_Adapter_2_desc = A compact structural adapter between 1.25m and 2.5m parts.

		#loc_RWP_PR_S2_Adapter_3_title = S1-S2 Adapter Medium
		#loc_RWP_PR_S2_Adapter_3_desc = A 1.25m nacelle with a 2.5m mounting plate on one end.

		#loc_RWP_PR_S2_Adapter_4_title = S1-S1.5 Adapter Long
		#loc_RWP_PR_S2_Adapter_4_desc =  A long, conical adapter between 1.25m and 1.875m parts. Comes with an integrated fuel tank.

		#loc_RWP_PR_S2_Adapter_5_title = S1-S2 Adapter Long
		#loc_RWP_PR_S2_Adapter_5_desc = A long, conical adapter between 1.25m and 2.5m parts. Comes with an integrated fuel tank.

		#loc_RWP_PR_S2_Adapter_6_title = S1.5-S2 Adapter
		#loc_RWP_PR_S2_Adapter_6_desc = A compact structural adapter between 1.875m and 2.5m parts.

// === Engines ===
		#loc_RWP_PR_Engine_S0_title = BR-06 "Toro" Jet Engine
		#loc_RWP_PR_Engine_S0_desc = A tiny engine, suitable for small podracers. Comes with a decorative aerospike.

		#loc_RWP_PR_Engine_S1_1_title = RT-70 "Conway" Jet Engine
		#loc_RWP_PR_Engine_S1_1_desc = Is it a piece of abstract art? A medieval melee weapon? No, it�s an engine! Equipped with an afterburner, and a dizzying number of vanes and fins.

		#loc_RWP_PR_Engine_S1_2_title = OM-13 "Mandrell" Jet Engine
		#loc_RWP_PR_Engine_S1_2_desc = A simple, no-nonsense engine in a conical housing. Provides reasonable thrust, on par with most other 1.25m afterburning jet engines.

		#loc_RWP_PR_Engine_S1_3_title = BN-612 "Bullseye" Jet Engine
		#loc_RWP_PR_Engine_S1_3_desc = An inline engine, with an attachment node at its back for 0.625m parts. For extra fun, try mounting an MPR-310 Podracer Cockpit directly behind it.

		#loc_RWP_PR_Engine_S1_4_title = AS-1 "Skywalker" Jet Engine
		#loc_RWP_PR_Engine_S1_4_desc = A heavy, extended-length jet engine for racers hoping for speed.

		#loc_RWP_PR_Engine_S15_title = DB-3 "BoltDriver" Trijet Engine
		#loc_RWP_PR_Engine_S15_desc = A bulky engine with an unconventional form factor. Three separate engine pods add redundancy, in the event of mechanical failure or deliberate sabotage.

		#loc_RWP_PR_Engine_S15_2_title = SB-18 "Cuspidate" Jet Engine
		#loc_RWP_PR_Engine_S15_2_desc = A medium-sized engine that will get you where you need to go with a minimum of fuss.

		#loc_RWP_PR_Engine_S2_title = GS-250 "Guzzler" Jet Engine
		#loc_RWP_PR_Engine_S2_desc = A large engine with an equally large appetite. Provides the highest thrust of the Podracer engines.

		#loc_RWP_PR_Engine_AB1_title = AB-200 "Binoc" Twin Jet Engine
		#loc_RWP_PR_Engine_AB1_desc = A pair of reasonably efficient jet turbines mounted together to make a larger engine.

		#loc_RWP_PR_Engine_AB2_title = AB-250 "Orthus"  Twin Jet Engine
		#loc_RWP_PR_Engine_AB2_desc = A pair of reasonably efficient jet engines fitted with 2D variable geometry nozzles to provide some thrust vectoring capability.

		#loc_RWP_PR_Airbrake_title = AS-3 Airbrake
		#loc_RWP_PR_Airbrake_desc = A flimsy-looking but capable airbrake.

		#loc_RWP_PR_Airbrake_2_title = AS-5 Forward Airbrake
		#loc_RWP_PR_Airbrake_2_desc = A flimsy-looking but capable airbrake. This one is intended to be mounted facing forwards.

		#loc_RWP_PR_Coupling_title = EB-1 Energy Coupling
		#loc_RWP_PR_Coupling_desc = A pair of beam emitters that serve to act as a high-tech energy-based strut connector straight out of science fiction.

	// === Add-on parts ===
		#loc_RWP_PR_AB_adapter_125m_title = AB Mk1 Adapter
		#loc_RWP_PR_AB_adapter_125m_desc = An adapter between the AB hull series and the Mk1 form factor

		#loc_RWP_PR_AB_adapter_mk2_title = AB Mk2 Adapter
		#loc_RWP_PR_AB_adapter_mk2_desc = An adapter between the AB hull series and the Mk2 form factor

		#loc_RWP_PR_AB_cockpit_inline_title = AB-1 "Speeder" cockpit
		#loc_RWP_PR_AB_cockpit_inline_desc = An open-topped AB form-factor cockpit, for all your sci-fi speeder needs

		#loc_RWP_PR_AB_cockpit_title = AB-2 "Cudgel" cockpit
		#loc_RWP_PR_AB_cockpit_desc = An AB form-factor cockpit that can only be described as "chunky"

		#loc_RWP_PR_AB_radial_tank_title = AB Round Endcap
		#loc_RWP_PR_AB_radial_tank_desc = A half-cylinder AB form-factor fuel tank

		#loc_RWP_PR_chine_a_title = AB Chine
		#loc_RWP_PR_chine_a_desc = An AB form factor chine

		#loc_RWP_PR_chine_a_title = AB Chine Endcap
		#loc_RWP_PR_chine_a_desc = An AB form factor chine

	// === New Cockpits ===

		#loc_RWP_eclipticindustries = Ecliptic Industries

		#loc_RWP_cockpit_casket_title = Mk1 "CASKET" Virtual Cockpit
		#loc_RWP_cockpit_casket_desc = The CASKET system offers unparalled visability through a series of surface-mounted cameras, while protecting the pilot via an armored internal pod.
    
		#loc_RWP_cockpit_hound_title = Mk1S "Hound" Cockpit
		#loc_RWP_cockpit_hound_desc = A cockpit designed for helicopters and gunships, featuring excellent forward visibility and a dedicated seat for a gunner.
    
	}
}




